trigger:
  branches:
    include:
      - main
      - fix-pipeline # Din branch

pool:
  vmImage: ubuntu-latest

steps:
  # Frontend
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"
    displayName: "Install Node.js"

  - script: |
      npm install
      npm run build
    displayName: "Frontend: Install and build"
    workingDirectory: "$(Build.SourcesDirectory)/frontend"

    # Backend
  - task: UseDotNet@2
    inputs:
      version: "9.x"
    displayName: "Install .NET 9"

  - script: dotnet restore backend.sln
    displayName: "Restore backend"
    workingDirectory: "$(Build.SourcesDirectory)/backend"

  - script: dotnet build backend.sln --configuration Release --no-restore
    displayName: "Build backend"
    workingDirectory: "$(Build.SourcesDirectory)/backend"
