@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&display=swap");
@import "tailwindcss";

@theme {
  --color-light-green: #7c9370;
}

body {
  @apply text-light-green;
  font-family: "Old Standard TT", serif;
}
