@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  --color-light-green: #7c9370;
}

body {
  @apply text-light-green;
  font-family: "Old Standard TT", serif;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

html,
body,
#root {
  height: 100%;
  --logo-offset: clamp(-2rem, -2.6vh, -0.6rem);
}

@media (max-height: 740px) {
  #root {
    --logo-offset: clamp(-3.4rem, -4.2vh, -2.4rem);
  }
}

@media (max-height: 650px) {
  #root {
    --logo-offset: clamp(-3.4rem, -5vh, -2.7rem);
  }
}
